/* RESET */
* {
  margin: 0 ;
  padding: 0  ;
  box-sizing: border-box ;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* UTILITIES */
.flex{
  display: flex;
}

.container{
  width: 70%;
  margin: 0 auto;
}

/* HEADER */
header{
  height: 5rem;
  background-color: #ff6900;
}

.navigation{
  align-items: center;
  color: white;
  padding: 1.5rem 0;
  flex-direction: row;
  min-height: 40px;
  justify-content: space-between;
}

.gender{
  list-style-type: none;
  font-weight: 700;
}

.gender li{
  padding-right: 1rem;
}

.header-logo{
  width: 10rem;
}

.login{
  list-style-type: none;
}

.login li{
  padding-left: 1rem;
}

/* MAIN */
.wrap{
  padding-top: 4rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col{
  position: relative;
  width: calc(95% / 3);
  padding-bottom: 1rem;
}

/* HOVER IMG */
.img-view {
  display: inline-block;
}

.img-hide {
  display: none;
}

.col:hover .img-view {
  display: none;
}

.col:hover .img-hide {
  display: inline-block;
}

/* HEART */
.heart{
  position: absolute;
  top: .8rem ;
  right: .4rem;
  background-color: white;
  color: black;
  font-size: 1.8rem;
  text-align: center;
  min-height: 2rem;
  min-width: 2rem;
}

.col:hover .heart{
  color: red;
}

/* PROMO */

.badge{
  position: absolute;
  bottom: 5.5rem;
  left: 0;
  text-align: center;
  padding: .2rem .4rem;
  font-size: .8rem;
  color: white;
}

.discount{
  background-color: red;
}

.sost{
  background-color: green;
  left: 2.7rem;
}

.left-0{
  left: 0;
}


/* INFO PRICE */
.info-price p{
  display: inline-block;
  color: red;
  font-size: .9rem;
  font-weight: 700;
}

.merch{
  font-size: .8rem;
  font-weight: 500;
}

.info-price h3 {
  font-size: .9rem;
  font-weight: 600;
}

.info-price span{
  font-size: .9rem;
  margin: 0 .3rem;
  text-decoration: line-through .1rem;
}