/* RESET */
* {
  margin: 0 ;
  padding: 0  ;
  box-sizing: border-box ;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* UTILITIES */
.flex{
  display: flex;
}

.container{
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
}

/* HEADER */
header{
  height: 5rem;
  background-color: #ff6900;
  position: fixed;
  top: 0 ;
  left: 0;
  width: 100%;
}

.navigation{
  align-items: center;
  color: white;
  padding: 1.5rem 0;
  flex-direction: row;
  min-height: 40px;
  justify-content: space-between;
}

.gender{
  list-style-type: none;
  font-weight: 700;
}

.gender li{
  padding-right: 1rem;
}

.header-logo{
  width: 10rem;
}

.login{
  list-style-type: none;
}

.login li{
  padding-left: 1rem;
}

/* MAIN */
.wrap{
  padding-top: 4rem;
  padding-bottom: 4rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col{
  position: relative;
  width: calc(95% / 3);
  padding-bottom: 1rem;
}

.img{
  position: relative;
}
/* HOVER IMG */
.img-view {
  display: block;
}

.img-hide {
  display: none;
}

.col:hover .img-view {
  display: none;
}

.col:hover .img-hide {
  display: block;
}

/* HEART */
.heart{
  position: absolute;
  top: .8rem ;
  right: .4rem;
  background-color: white;
  color: black;
  font-size: 1.8rem;
  text-align: center;
  min-height: 2rem;
  min-width: 2rem;
}

.col:hover .heart{
  color: red;
}

/* PROMO */

.promo{
  position: absolute;
  bottom: 30px;
  left: 0;
  color: white;
}

.badge{

}

.discount{
  background-color: red;
}

.sost{
  background-color: green;
  left: 2.7rem;
}

.left-0{
  left: 0;
}


/* INFO PRICE */
.info-price p{
  display: inline-block;
  color: red;
  font-size: .9rem;
  font-weight: 700;
}

.merch{
  font-size: .8rem;
  font-weight: 500;
}

.info-price h3 {
  font-size: .9rem;
  font-weight: 600;
}

.info-price span{
  font-size: .9rem;
  margin: 0 .3rem;
  text-decoration: line-through .1rem;
}

/* FOOTER */
footer{
  background-color: #1a1a1a;
  min-height: 5rem;
}

.row{
  padding: 2.5rem 0;
  justify-content: space-between;
  color: white;
}

/* INFO */
.main-col h3{
  font-size: 1.5rem;
}

.info{
  list-style-type: none;
  justify-content: space-between;
}

.info li{
  padding:.2rem 1rem 0 0;
}

/* SOCIAL */
.social-col h3{
  font-size: 1.5rem;
}

.social{
  font-size: 1rem;
  list-style-type: none;
  justify-content: space-between;
}

.social li{
  font-size: 2rem;
  padding:.2rem 1rem 0 0;
}