/* RESET */
* {
  margin: 0 ;
  padding: 0  ;
  box-sizing: border-box ;
}

img {
  max-width: 100%;
}

/* UTILITIES */
.flex{
  display: flex;
}

.container{
  width: 80%;
  margin: 0 auto;
}

/* MAIN */
.wrap{
  justify-content: space-between;
}

.col{
  width: calc(95% / 3);
}